{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>ImageSearch</title>
    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'imagesearch/style.css' %}">

  </head>

  <body>
  <div class="general-container">
    <div class="container top-container">
      <div class="row">
        <div class="col-lg-12 col-lg-offset-4 centered">
          <h1 class="tittle">Crawl Images</h1>
          <div class="search-str">
            <form action="" method="post"> {% csrf_token %}
              <div class="form-group search_btn">
                <!--{{ form.surl }}-->
                <input type="url" name = "{{ form.surl.name }}" placeholder="Enter your url..."class="form-control" >
              </div>
              <button type="submit" class="btn search_btn">Check</button>
            </form>
            <div>
              <h3 class="search_result"> Найдено изображений: {{ total }}</h3>
            </div>
            {% if total != 0 %}
            <div class="list-of-images-container">
              <span>список изображений</span>
            </div>
            <div>
              <h4>Upload a picture to classify:</h4>
              <div>
                <div id="upload-drop" class="uk-placeholder uk-text-center">
                  <i class="uk-icon-cloud-upload uk-icon-large uk-text-muted uk-margin-small-right"></i>
                  <span class="uk-h4">Upload pictures ( jpg / png )  by dropping them here Or</span>
                  <div class="uk-form-file">
                    <button class="uk-button">
                    <span class="uk-h4">Select some</span>
                    </button> <input id="upload-select" type="file">
                  </div>
                </div>
                <div id="progressbar" class="uk-progress uk-hidden">
                  <div class="uk-progress-bar">0%</div>
                </div>
              </div>
            </div>
            <!--<div>-->
              <!--<h4>Or input image URL to classify:</h4>-->
              <!--<div class="uk-form-controls">-->
                <!--<input type="text" class="uk-form-width-large">-->
                <!--<button class="uk-margin-left uk-button uk-button-primary" disabled=""> Classify </button>-->
                <!--<a class="uk-margin-small-left uk-button uk-button-primary" target="_blank" href="http://172.19.12.51:9080/powerai-vision/uploads/logs/aivision-cic-inference-94b8e164-ef2a-4514-8b15-4c3507bcdd28.log" style="display: none;"> Show Log </a>-->
              <!--</div>-->
            <!--</div>-->
          {% endif %}
          </div>
          <!--<div class="form-group-view">
            <div class="file-input file-input-ajax-new"><div class="file-preview ">
              <button type="button" class="close fileinput-remove" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <div class="file-drop-zone clickable" tabindex="-1"><div class="file-drop-zone-title">Перетащите файлы сюда …<br>(Или щёлкните, чтобы выбрать файлы)</div>
                <div class="file-preview-thumbnails"></div>
                <div class="clearfix"></div>
                <div class="file-preview-status text-center text-success"></div>
                <div class="kv-fileinput-error file-error-message" style="display: none;"></div>
              </div>
            </div>
            <div class="kv-upload-progress kv-hidden" style="display: none;">
              <div class="progress">
                <div class="progress-bar bg-success progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                0%
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="input-group file-caption-main">
              <div class="file-caption form-control kv-fileinput-caption" tabindex="500">
                <span class="file-caption-icon"></span>
                <input class="file-caption-name" onkeydown="return false;" onpaste="return false;" placeholder="Выбрать файлы..." title="">
              </div>
              <div class="input-group-btn input-group-append">
                <button type="button" tabindex="500" title="Отменить текущую загрузку" class="btn btn-default btn-secondary kv-hidden fileinput-cancel fileinput-cancel-button"><i class="glyphicon glyphicon-ban-circle"></i>
                  <span class="hidden-xs">Отмена</span>
                </button>
                <div tabindex="500" class="btn btn-primary btn-file">
                  <i class="glyphicon glyphicon-folder-open"></i>&nbsp;
                  <span class="hidden-xs">Выбрать …</span>
                  <input id="input-id" name="uploadfile" type="file" multiple="" class="">
                </div>
              </div>
            </div>
            </div>
          </div>-->

        </div>
      </div>
    </div>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>