.tittle{
    color: steelblue;
    text-align: center;
    }
.search_result{
    color: steelblue;
    }
html, body {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    }
.top-container {
    margin-top: 10%;
    }
.search-str{
    text-align: center;
}
.general-container form{
    margin-top: 30px;
}
.search_btn{
    display: inline-block;
}
button.btn {
    position: relative;
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #2ca464;
}
.form-control {
    display: inline-block;
    width: 500px;
    height: 50px;
    vertical-align: middle;
}

